.main {
  width: 90%;
  /* border: solid red 1px; */
  height: 14rem;
  margin-top: 20rem;
  margin-left: 5rem;
}
.clock {
  border: solid black 20px;
  border-style: ridge;
  width: 90%;
  height: 10rem;
  box-shadow: black 0 5px 10px 0;
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-top: 2rem;
  background-color: bisque;
}
.dots {
  font-size: 7rem;
  text-align: center;
}
.hours {
  border: solid rgb(14, 13, 13) 10px;
  border-style: inset;
  width: 25%;
  font-size: 7rem;
  text-align: center;
}
.minutes {
  border: solid rgb(8, 8, 8) 10px;
  width: 25%;
  font-size: 7rem;
  text-align: center;
  border-style: inset;
}
.seconds {
  border: solid rgb(8, 8, 8) 10px;
  width: 25%;
  font-size: 7rem;
  text-align: center;
  border-style: inset;
}
